PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3308
DB_USER=root
DB_PASSWORD=mysecretpassword
DB_NAME=myappdb
ADMIN_PASSWORD=change_this_admin_password

SMTP_HOST=mail.privateemail.com
SMTP_PORT=465
SMTP_USER=you@your-domain.com
SMTP_PASS=your-namecheap-private-email-password
SMTP_SECURE=true
SMTP_FROM=hello@your-domain.com

NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_MODE=dev

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICE_HOSTING_9_99_MONTHLY=price_xxx
STRIPE_PRICE_FULL_STACK_19_99_MONTHLY=price_xxx
