# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
